body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
    margin: 0;
}
header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
}

h1 {
    margin: 0;
}


.sidebar {
    background-color:#0c2bd7;
    color: white;
    padding: 15px;
    width: 150px;
    height: 100vh;
    position: fixed;
    left: -220px;
    transition: left 0.3s ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar.active {
    left: 0;
}

.content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Navigation styles */
.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    transition: margin-left 0.3s;
}

#sidebarToggle {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #0c2bd7;
    color: white;
    padding: 8px;
    cursor: pointer;
    z-index: 2;
    border-radius: 5px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
